{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}

{% endblock %}

{% block content %}
	{% include 'triagens/includes/_barra_botoes.html' %}
	<div class="panel panel-default">
		<div class="panel-heading">
			Curso: {{ object.curso }}
		</div>
		<table class="table table-hover">
			<tbody>
				<tr>
					<td>Data e hora:</td>
					<td>Número {{ object.codigo }} em {{ object.data|date:'d/m/Y' }} às {{ object.hora }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	{% include 'triagens/includes/_barra_botoes.html' %}
{% endblock %}
